body {
    font-family: Arial, sans-serif;
    background-image: url('img/change5.jpg');
    background-position: center;
    background-repeat: no-repeat; 
}

.container {
    width: 80%;
    height: 100%;
    max-width: 600px;
    margin: 60px auto ;
    text-align: center;
    background: #ffffffba;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d17614;
}

p {
    color:#000;
    animation: fadeIn 2s ease-in;
    font-size: 12px;
}

p{
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

button {
    background-color: #d17614;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color:#d17614;
}

#article-container {
    margin-top: 20px;
    text-align: left;
}

#article-title {
    color: #333333;
}

#article-summary {
    color: #555555;
}

a {
    /* color: #007BFF; */
    color: #d17614;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    
}


/* Reset */
body, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('your-image-url.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 20px;
    position: relative;
  }
  
  /* Logo Section */
  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  /* Navigation Links */
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links li a:hover {
    background-color:#d17614;;
    border-radius: 5px;
  }
  
  /* Hamburger Menu */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px 0;
      z-index: 1;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  }
  